nav.navbar {
    margin-bottom: 20px;
}

body {
    padding-top: 85px;
    /* background-color: #708090; */
    background-image: url("../images/background-image.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 1500px;
}

h1 {
    font-size: 165%;
    padding: 5px;
    color: #ffffff;
    font-weight: 600;
}

h2 {
    text-align: center;
    margin: 10px;
}

hr {
    background-color: #666666;
}

img {
    width: 100%;
    height: auto;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

.about-me-text {
    font-size: 125%;
    line-height: 1.6;
    font-weight: 550;
    padding-top: 0px;
}

/* media queries */
@media only screen and (min-width: 768px) {
    body {
        color: red;
    }
}

@media only screen and (min-width: 992px) {
    body {
        color: blue;
    }

    .link-with-border {
        border-left: 1px solid #ffffff;
        margin-left: 5px;
    }

    .nav-item {
        padding: 5px;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        color: black;
    }
}